<!-- <div class="container mt-5">
    <div class="row d-flex flex-row justify-content-start"> 
        {% for note in notes %}
            <div class='col-ms-2 col-lg-4 col mt-3' hx-target="#note-details" hx-swap="innerHTML">
                {% include 'components/square_tile.html' %}
            </div>
        {% endfor %}
    </div>
</div> -->

<div class="container mt-5">
  <div class="row mt-5 d-flex justify-content-between">
    <div class="col">
      <div class="card" style="width: 21.5rem">
        <img
          src="/static/images/placeholder.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Prof. Dr. John Doe</h5>
          <h5 class="card-title">University of California, Los Angeles</h5>
          <h5 class="card-title"><i>'Quote'</i></h5>
          <p class="card-text">
            The future of education lies in bridging the gap between theoretical
            knowledge and practical application. Through Notes of Future, we're
            creating a platform where students can learn from real-world
            experiences and industry insights.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 21.5rem">
        <img src="/static/images/placeholder.png" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">Prof. Dr. John Doe</h5>
          <h5 class="card-title">University of California, Los Angeles</h5>
          <h5 class="card-title"><i>'Quote'</i></h5>
          <p class="card-text">
            The future of education lies in bridging the gap between theoretical
            knowledge and practical application. Through Notes of Future, we're
            creating a platform where students can learn from real-world
            experiences and industry insights.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 21.5rem">
        <img src="/static/images/placeholder.png" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">Prof. Dr. John Doe</h5>
          <h5 class="card-title">University of California, Los Angeles</h5>
          <h5 class="card-title"><i>'Quote'</i></h5>
          <p class="card-text">
            The future of education lies in bridging the gap between theoretical
            knowledge and practical application. Through Notes of Future, we're
            creating a platform where students can learn from real-world
            experiences and industry insights.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <h1>What is <i>"Notes of Future"</i>?</h1>
    <h5>
      <i>"Notes of Future"</i> is a visionary collection of insights, meant to guide
      and inspire future researchers in a particular field. These notes go
      beyond documentation—they capture experience, foresight, and wisdom,
      offering direction and purpose. They balance objectivity with personal
      insight, creating a foundation for new discoveries while leaving a lasting
      legacy.
    </h5>
  </div>
  <div class="row mt-5">
    <h1>How can I contribute?</h1>
    <h5>
      Your years of experience and expertise make you a beacon for future
      research. Contribute by sharing:

      <ul>
        <li><i>
          insights from your field that can shape future research directions.
        </i></li>
        <li><i>
          Visionary thoughts that offer a prophetic glimpse into the field’s evolution.
        </i>
        </li>
        <li><i>
          Balanced perspectives, neither too technical nor too vague, making them accessible yet profound.
        </i>  
        </li>
        <li><i>
          A compelling story or personal anecdote that resonates and inspires.
        </i></li>
      </ul>
    </h5>
  </div>
</div>
