<div class="d-flex justify-content-center align-items-center" >
  <div class="card border" style="width: 24rem; background-color: #29253A; color: black;" id="note">
    <img src="/static/images/placeholder.png" class="card-img-top border" alt="...">
    <div class="card-body">
      <h5 class="card-title text-white">{{ note.title }}</h5>
      <p class="card-title text-white">{{ note.university }}</p>
      <h4 class="card-title text-white">{{ note.quote }}</h4>
      <!-- <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <a href="#" class="btn border" style=" background-color: #29253A; color: white;">Read full article</a>
    </div>
  </div>
</div>